[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third-party/libhv"]
	path = third-party/libhv
	url = https://github.com/libuv/libuv.git
