[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third-party/libhv"]
	path = third-party/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "third-party/oneTBB"]
	path = third-party/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third-party/cpp-base64"]
	path = third-party/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/utfcpp"]
	path = third-party/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third-party/hiredis"]
	path = third-party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third-party/tidy-html5"]
	path = third-party/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "third-party/pugixml"]
	path = third-party/pugixml
	url = https://github.com/zeux/pugixml.git
